---
import Image from "astro/components/Image.astro";

import GhostButton from "../../base/buttons/GhostButton.astro";

import type { LocalImageProps } from "astro:assets";
import ArrowRight from "/public/images/arrow-right.svg";

interface Props {
  label: string;
  iconUrl: LocalImageProps["src"];
  text: string;
  buttons: Record<string, string>;
}

const { label, iconUrl, text, buttons } = Astro.props;
---

<div
  class="flex flex-col items-center justify-between gap-x-16 gap-y-8 rounded-4xl border border-capabilities-border bg-transparent p-10 transition duration-300 ease-in-out hover:bg-usage-hoverBackground lg:flex-row w-full">
  <div class="flex flex-1 flex-col">
    <div class="flex mb-4 gap-x-2">
      <Image src={iconUrl} alt="SoftwareMansion logo" class="aspect-square" />
      <h3 class="text-usage-tileHeader">{label}</h3>
    </div>
    <p class="par-l text-usage-tileText hidden md:block">{text}</p>
  </div>
  <div class="flex gap-x-4 gap-y-3 flex-row lg:flex-col justify-between lg:w-[200px] md:self-start lg:self-center">
    {
        Object.entries(buttons).map(([label, url]) => (
          <a href={url} target="_blank" style="text-decoration: none; color: inherit;" class="cursor-default">
            <GhostButton id="usageGhostButton" class="hover:text-usage-hoverText h-12 px-2" >
              <p class="par-xl capitalize">{label}</p>
              <ArrowRight  />
            </GhostButton>
          </a>
        ))
    }
  </div>
</div>
