---
import { Image } from "astro:assets";
import GhostButton from "../base/buttons/GhostButton.astro";

import ArrowRight from "../../assets/arrow-right.svg";

interface Props {
	label: string;
	text: string;
	buttons: Record<string, string>;
}

const { label, text, buttons } = Astro.props;
---

<div
  class="flex flex-col items-center justify-between gap-x-16 gap-y-8 rounded-4xl border border-capabilities-border bg-transparent p-10 transition duration-300 ease-in-out hover:bg-usage-hoverBackground sm:flex-row">
  <div class="flex flex-1 flex-col">
    <h3 class="text-usage-tileHeader mb-4">{label}</h3>
    <p class="par-l text-usage-tileText">{text}</p>
  </div>
  <div class="flex flex-row gap-x-4 sm:flex-col gap-y-4 justify-between sm:w-[200px]">
    {
        Object.entries(buttons).map(([label, url]) => (
          <a href={url} target="_blank" style="text-decoration: none; color: inherit;">
            <GhostButton id="usageGhostButton" class="hover:text-usage-hoverText" >
              <p class="par-xl capitalize">{label}</p>
              {/* <Image src={arrowRight} class="hover:text-usage-hoverText" alt={`${label} redirect`} /> */}
              <ArrowRight  />
            </GhostButton>
          </a>
        ))
    }
  </div>
</div>
    <!-- <a href="/docs" style="text-decoration: none; color: inherit;">
      <GhostButton>
        <p class="par-xl">Docs</p>
        <Image src={arrowRight} alt={`${label} docs`} />
      </GhostButton>
    </a>
    <a href="/docs" style="text-decoration: none; color: inherit;">
      <GhostButton>
        <p class="par-xl">Dockerfiles</p>
        <Image src={arrowRight} alt={`${label} dockerfiles`} />
      </GhostButton>
    </a> -->
