---
import { Image } from "astro:assets";

import discordLogo from "../../assets/navigation/discord-logo.svg";
import githubLogo from "../../assets/navigation/github-logo.svg";
import smelterLogoSmall from "../../assets/navigation/smelter-logo-small.svg";
import smelterLogo from "../../assets/navigation/smelter-logo.svg";
---

<header id="pageHeader" class="fixed z-50 w-screen max-w-screen bg-transparent">
  <nav class="flex h-18 md:h-20">
    <div class="flex justify-between max-w-[1800px] w-full m-auto px-4 sm:px-8 lg:px-20">
      <Image src={smelterLogo} alt="Smelter logo" class="hidden md:block" />
      <Image src={smelterLogoSmall} alt="Smelter logo" class="md:hidden" />
  
      <div class="flex gap-x-4 md:gap-x-6">
        <Image src={discordLogo} alt="Discord logo" class="fill-nav-icon aspect-square w-5 md:w-6" />
        <Image src={githubLogo} alt="Github logo" class="fill-nav-icon aspect-square w-5 md:w-6" />
      </div>
    </div>
  </nav>
</header>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const header = document.getElementById('pageHeader');

    window.addEventListener('scroll', () => {
      const scrollDistanceLimit = 100;
      const alphaDecimal = Math.min(128, (window.scrollY / scrollDistanceLimit) * 128);
      const alphaHex = Math.round(alphaDecimal).toString(16).padStart(2, '0');
      if (header) header.style.backgroundColor = `#161127${alphaHex}`;
    });
  });
</script>
