---
import { Image } from "astro:assets";

import type { ImageMetadata } from "astro";
import flash from "../../assets/use-cases/flash.svg";

interface Props {
	header: string;
	subHeader: string;
	image: ImageMetadata;
}

const { header, subHeader, image } = Astro.props;
---

<div id="useCaseTile" class:list={['sticky top-28 items-center']}>
  <div
  class:list={
    'w-full rounded-[calc(2rem-1px)] bg-useCases-tileBackgroundOpacity border-gradient overflow-clip'
    }>
    <div class="-z-10 bg-useCases-tileBackground rounded-[calc(2rem-1px)] h-full w-full absolute">
      <!-- <Image
        src={flash}
        alt={`Active use-case flash`}
        class="absolute left-1/2 top-[-25px] -z-10 -translate-x-1/2"
      /> -->
      <div id="gradient" class="w-[256px] h-[72px] absolute left-1/2 top-[-36px] -z-10 -translate-x-1/2 use-case-tile-gradient" />
    </div>
    <div class="flex flex-col justify-between p-6 sm:p-10 text-center">
      <div class="flex flex-col gap-y-2 min-h-[100px]">
        <h3 class="text-useCases-tileHeader">{header}</h3>
        <p class="par-l text-useCases-tileSubheader">{subHeader}</p>
      </div>
      <div class="mt-6">
        <Image src={image} alt={`${header} image`} class="aspect-video w-full" />
      </div>
    </div>
  </div>
</div>
